{% extends 'base.html.twig' %}

{% block title %}inLavorie:Bussines Core Software Terbaik dan Terlengkap - {{ title|default('inLavorie') }}{% endblock %}
{% block stylesheets %}
<link href="{{ asset('css/app/auth.css') }}" rel="stylesheet">
{% endblock %}
{% block body_class %}auth-page{% endblock %}
{% block body %}
<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-4">
        <div class="card p-4">
          <div class="text-center mb-4">
            <img src="{{ asset('img/head-logo.png') }}" alt="Logo" class="logo">
            <h4 class="fw-bold text-danger">inLavorie</h4>
            <div class="alert alert-info" role="alert">
              Kelola bisnismu dengan inLavorie.<br/>
              masuk untuk melanjutkan
            </div>
          </div>
          <form method="post" action="">
            <div class="mb-3">
              <label for="username" class="form-label">Email / Username</label>
              <input type="text" class="form-control" id="username" name="_username" required autofocus>
            </div>
            <div class="mb-3 position-relative">
              <label for="password" class="form-label">Kata Sandi</label>
              <div class="input-group">
                  <input type="password" class="form-control" id="password" name="_password" required>
                  <button class="btn btn-outline-secondary" type="button" id="togglePassword">
                      <i class="bi bi-eye"></i>
                  </button>
              </div>
            </div>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="remember" name="_remember_me">
              <label class="form-check-label" for="remember">Ingat saya</label>
            </div>
            <button type="submit" class="btn btn-danger">Masuk</button>
          </form>
          <div class="text-center mt-3">
            <small>Belum punya akun? <a href="{{path('register')}}">Coba Gratis sekarang!</a></small>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block scripts %}
  <script src="{{ asset('js/auth.js') }}"></script>
{% endblock %}